page-hello-ionic {
    ion-card {
        background-color: rgba(190, 190, 57, 0.925)
      }

      ion-footer {
        text-align: center;
        background-color: black;
      }
    .title-page{
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

}
